

.form_group {
    text-align:left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.form_input {
    background-color: var( --inputfield-color);
    border: 0.2px solid var(--dark-color);
    width: 200px;
    height: 30px;
    border-radius: 3px;
}